.site-footer{

  .site-copyright{
    background-color: #0163aa;
    background-image:url('../img/footer-background.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    min-height:120px;
    &.fullWidth{
      width:100%;
      margin-left:auto;
      margin-right:auto;
      max-width:initial;
    }
    a{
      color:white;
      font-family: 'Montserraat Regular', sans-serif;
      font-size:24px;
      display:block;
      margin:0 auto;
      p{
        margin-bottom: 0;
      }
    }
  }

}