.heading{
  padding:0 0 80px 0;
  h3{
    font-size:48px;   
    margin:0;
    color:$primary;
    line-height:normal;
  }
  span{
    text-align:center;
    display:block;
    position:relative;
    &:after{
      content:"\f10b";
      font-size:30px;
      background-color:white;
      display:table;
      margin:0 auto;
      z-index:2;
      color:$primary;
      position:relative;
      padding:0 5px 0  5px;
      line-height: normal;

    }
    &:before{
      content:'';
      display:block;
      position:absolute;
      left:0;
      top:16px;
      right:0;
      height:2px;
      max-width:150px;
      margin:0 auto;
      width:100%;
      background:$primary;
    }
  }
}  


/* General Styles for Content
==========================================*/
#content {
  position: relative;
  z-index: 2;
  background-color: #FFF;
}


// [data-name^="google_play"] {
//   .insert-media,
//   .wpforms-insert-form-button {
//     display: none;
//   }
// }